<h1>Welcome!</h1>

<p>
    You have a message from {{ firstname }} {{ lastname }} who is interessted in the article with Title {{titreArticle}}
    with the following email:
</p>
<p>{{ mail }}</p>

<p>
Phone : {{ phone }}
</p>
<p>
message: {{ message }}
</p>